# ------------------------------------------------------------------------------
# SISTEMA
# ------------------------------------------------------------------------------

Thumbs.db
desktop.ini
.DS_Store

# ------------------------------------------------------------------------------
# EDITORES
# ------------------------------------------------------------------------------

.nide
*~
.project
.c9revisions
nbproject

# ------------------------------------------------------------------------------
# PADROES
# ------------------------------------------------------------------------------

config.js
config.sh
*.log
.*

node_modules
Icon?
*.bkp

# ------------------------------------------------------------------------------
# EXCESSOES
# ------------------------------------------------------------------------------

!/.gitignore

# ------------------------------------------------------------------------------
# CONFIGURACOES
# ------------------------------------------------------------------------------

application/configs/application.ini
application/configs/ee.ini
public/userfiles/*
.zfproject.xml
